@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

html {
}
body {
    background-color: #FFF;
    margin: 0;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
}
h1, h2, h3, h4, h5, h6 {
color: #03C58E;
}
